//truncated css was in card scss

.text-truncate-100,
.text-truncate-95,
.text-truncate-90,
.text-truncate-85,
.text-truncate-80,
.text-truncate-75,
.text-truncate-70,
.text-truncate-65,
.text-truncate-60,
.text-truncate-55,
.text-truncate-50,
.text-truncate-45 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.text-truncate-100 {
    width: 100%;
}
.text-truncate-95 {
    width: 95%;
}
.text-truncate-90 {
    width: 90%;
}
.text-truncate-85 {
    width: 85%;
}
.text-truncate-80 {
    width: 80%;
}
.text-truncate-75 {
    width: 75%;
}
.text-truncate-70 {
    width: 70%;
}
.text-truncate-65 {
    width: 65%;
}
.text-truncate-60 {
    width: 60%;
}
.text-truncate-55 {
    width: 55%;
}
.text-truncate-50 {
    width: 50%;
}
.text-truncate-45 {
    width: 45%;
}
.text-truncate-300p {
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.two-line-truncate,
.one-line-truncate,
.three-line-truncate,
.five-line-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.one-line-truncate {
    -webkit-line-clamp: 1;
}
.three-line-truncate {
    -webkit-line-clamp: 3 !important;
}
.five-line-truncate {
    -webkit-line-clamp: 5 !important;
}
.no-width-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.global-truncate {
    display: flex !important;
    white-space: nowrap;
    width: 100% !important;
    flex-wrap: nowrap;
}
.responsive-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    max-width: 100%;
    display: -webkit-box;
    word-break: break-all;
}